body {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    font-family: Verdana;
}

@media (max-width: 1200px) {
    body {
        width: 95%;
    }
}
.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chat-column {
    width: 40%;
}

.pdf-column {
    width: 60%;
}


@media (max-width: 1040px) {
    .row {
        flex-direction: column;
    }
    .chat-column {
        width: 90%;
    }
    .pdf-column {
        width: 90%;
    }
}

a {
    color: #142c7d;
}

select, textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.disclaimer {
    font-size: 14px;
    background: #ededed;
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.card-inn {
    border: 1px solid #f5f5f5;
    padding: 10px;
    box-shadow: -1px 1px 1px #d9d9d9;
    margin-left: 8px;
    margin-bottom: 15px;
}

.card {
    border: 1px solid #bababa;
    padding: 13px;
    box-shadow: -2px 2px 3px #cccccc;
    margin: 15px;
}

.cited-pages {
    font-size: 12px;
}

.cited-pages a {
    cursor: pointer;
}

.answer  {
    font-size: 14px;
}

.question-box{
    width: 80%;
}

.small {
    font-size: 10px;
}

.d-inline {
    display: inline;
}

.c-point {
    cursor: pointer;
}

.go-to-input {
    margin-left: 15px;
}

.go-to-input input {
    width: 6ch;
    margin-left: 8px;
    margin-right: 8px;
}